@font-face {
    font-family: vt323;
    src: url(content/VT323-Regular.ttf);
}

*{
    font-family: vt323;
}

body {
    background-image: url('content/bgimg.png'); 
    background-size: 100% auto;
    text-align: center;
    z-index: -1;
}

body > p {
    font-size: 1.6rem;
}

#main{
    max-width: 40%;
    background-color: #decef6;
    margin: 0 auto 0 auto;
    padding: 10px 40px 10px 40px;
    z-index: 0;
    border-radius: 5px;
}

#clawdia{
    border-radius: 100%;
    height: auto;
    width: 100%;
    float: right;
}

#imgTD {
    width: 30%;
    padding-left: 2%;
}

#content{
    margin: auto;
}

#title{
    /* margin-top: -50%;
    margin-left: 20%; */
    color: transparent;
    animation: effect 6s linear infinite;
    text-decoration: underline;
    /* text-decoration-color: currentColor; */
    text-overflow: hidden;
    }

thead > a{
    text-decoration: none;
}

@keyframes effect {
    0% {
        background: #ff76ad;
        text-decoration-color: #ff76ad;
        -webkit-background-clip: text;
    }

    25%{
        background: #ffb1d0;
        text-decoration-color: #ffb1d0;
        -webkit-background-clip: text;
    }

    50%{
        background: #c876cf;
        text-decoration-color: #c876cf;
        -webkit-background-clip: text;
    }

    75%{
        background: #b1d5ff;
        text-decoration-color: #b1d5ff;
        -webkit-background-clip: text;
    }

    100%{
        background: #77bbff;
        text-decoration-color: #77bbff;
        -webkit-background-clip: text;
    }
}

#kittyrun{
    width: 100%;
    height: auto;
    margin: 0px -40px 0px -40px;
    z-index: 2;
}

.button {
    height: 31px;
    width: 88px;
}

 .button:hover{ /* FROM EXO.PET */
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
    z-index: 999;
   }

   .trekimg{
    height: 12vh;
    width: auto;
   }

   #sfi{
    width: 18vw;
    height: auto;
    margin-bottom: 7vh;
    margin-top: 7vh;
   }

   .bar{
    width: 99%;
    height: 0.75vh;
    padding-bottom: 1.2vh;
    padding-top: 1.2vh;
   }

   #hidden{
    z-index: 1;
    text-align: right!important;
    font-size: x-small;
    color: #cfb8f5;
    border: 0;
    padding: 0;
   }